<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        <h3>Booking Room</h3>
    </title>
</head>
<body>
<h3>Profile</h3>
<form action="#" th:action="@{/user/rooms/book}" th:object="${room}" method="post">
    <table>
        <tr>
            <td><label>
                <input hidden type="text" th:field="*{id}"/>
            </label>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{name}" th:placeholder="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td>Number of bed:</td>
            <td><label>
                <input type="text" th:field="*{numberOfBed}" th:placeholder="*{numberOfBed}"/>
            </label></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><label>
                <input type="text" th:field="*{free}" th:placeholder="*{free}"/>
            </label></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><label>
                <input type="text" th:field="*{price}" th:placeholder="*{price}"/>
            </label></td>
        </tr>
        <tr>
            <td>Booking from:</td>
            <td><label>
                <input type="date" th:field="*{bookingDateFrom}" th:placeholder="*{bookingDateFrom}"/>
            </label></td>
        </tr>
        <tr>
            <td>Booking to:</td>
            <td><label>
                <input type="date" th:field="*{bookingDateTo}" th:placeholder="*{bookingDateTo}"/>
            </label></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Book</button>
            </td>
        </tr>
    </table>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>